/* GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --greyish-blue: hsl(229, 6%, 66%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --very-light-gray: hsl(0, 0%, 98%);
}


/* BODY STYLES */
body {
    padding: 4rem 2rem;
    min-height: 100vh;
    background-color: var(--very-light-gray);
    font-family: 'Poppins', sans-serif;
}

/* HEADING STYLES */

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding:0 6rem 2rem;
    width:50rem;
    margin:0 auto;
    color:  var(--very-dark-blue);
    font-weight: 600;
}
.reliable {
    display: block;
    width: 50rem;
    font-size:3rem;
    margin: 0 auto;
    padding: 0 6rem;
    color: var(--greyish-blue);
    font-weight:200;
    
}

.heading-p {
    font-size:1.4rem;
    width: 43rem;
    margin: 0 auto;
    text-align: center;
    color:var(--greyish-blue);
    font-weight: 400;
}

/* COLUMNS STYLES */
.cols-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.col {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1 1 70;
    margin: 1.5rem;
    /* padding: 2rem; */
}

/* CARD STYLES */
.card {
    width:30rem;
    border-top: 3px solid green;
    margin:1px;
    padding:2rem;
    border-radius:1rem;
    /* position: relative; */
    box-shadow: 2.5px 10px 10px  hsla(212, 86%, 64%, 0.15);
}

.card h2 {
    margin-bottom:1rem;
    font-size:1.6rem;
    color: var(--very-dark-blue);
}

.card p {
    font-size:1.3rem;
    margin-bottom: 3rem;
    color: var(--greyish-blue);

}

img {
    position: relative;
    right: 1rem;
    margin-bottom: 2rem;
    left: 19rem;
}
/* CARD BORDERS STYLES */
.team-builder {
    margin-bottom: 3rem;
    border-top: 3px solid hsl(0, 78%, 62%);
}

.karma {
    border-top:3px solid hsl(34, 97%, 64%);
}

.supervisor {
    border-top: 3px solid hsl(180, 62%, 55%);
}

.calculator {
    border-top: 3px solid  hsl(212, 86%, 64%);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 375px) {
    /* html {
        font-size: 50%;
    } */
    body {
        padding: 4rem 2rem;
    }
    h1,
    .reliable {
        padding:0 0.5rem;
        width: 80%;
        font-size:2rem;
    }
    .heading-p {
        width: 90%;
        margin:0 auto;
        font-size:1.5;
        padding:0.5rem;
        text-align: center;
    }
    .cols-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 100%;
    }

    img {
        width: 20%;
        height: 20%;
    }
} 